* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
} */

h1 {
    color: #ED1C24;
    font-size: 24px;
}

.nav-auth-buttons {
    display: flex;
    gap: 10px; 
}

.auth-nav-btn {
    background-color: #ED1C24;
    color: white;
    border: none;
    padding: 0.7rem 2.5rem;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.95rem;
    transition: background-color 0.3s;
}

.auth-nav-btn:hover {
    background-color: #d01820;
}

.dashboard-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.balance-card {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}

.balance-card h2 {
    color: #333;
    margin-bottom: 15px;
    font-size: 18px;
}

.balance-amount {
    font-size: 48px;
    font-weight: bold;
    color: #ED1C24;
    margin-bottom: 10px;
}

.account-info {
    color: #666;
    font-size: 14px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.action-btn {
    background-color: #ED1C24;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.action-btn:hover {
    background-color: #c91219;
}


/* rewards points */
#rewards-container {
    background-color: white;
    padding: 30px;
    height: auto;
    width: 500px;
    align-items: center;
    margin: 20px auto 20px auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.rewards-content {
    text-align: center;
    background: #f9f9f9;
    height: auto;
    padding: 20px;
}

.rewards-amt {
    font-size: 48px;
    font-weight: bold;
    color: #ED1C24;
    margin-bottom: 10px;
}
